@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список городов</title>
</head>
<body>
    <div>
        
           <p><a href="/Home/ListOfCities/">Показать список городов</a></p>

      
    </div>
</body>
</html>