@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список городов</title>
</head>
<body>
    <div>

        <p><a href="/Cities/Index/">Показать список городов</a></p>
        <p><a href="/ActualInDays/Index/">Показать перевозки по дням</a></p>
        <p><a href="/ActualInMonths/Index/">Показать за месяц</a></p>
        <p><a href="/ActualNumberOfShipments/Index/">Фактические между городами</a></p>
        <p><a href="/Plan_Fact/Index/">План факт</a></p>

    </div>
</body>
</html>