@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список городов</title>
</head>
<body>
    <div>
        <h3>Список Городов</h3>
        <table>
            <tr>
                <td><p>Город отправки</p></td>
                <td><p>Город прибытия</p></td>
            </tr>
            @foreach (var actual in ViewBag.Actuals)
            {
                foreach (var cities in ViewBag.Cities)
                {
                    if (actual.DepartureCityId == cities.Id)
                    {
                        <td><p>@cities.Name</p></td>
                    }
                    if (actual.ArrivalCityId == cities.Id)
                    {
                        <td><p>@cities.Name</p></td>
                    }
                }
            }


            @*@foreach (var b in ViewBag.ActualInDay)
        {
        <tr>
            <td><p>@b.Id</p></td>

                <td><input type="text" value="@b.NumberOfShipments"></td>

        </tr>
        }*@


        </table>
    </div>
</body>
</html>