@{
    ViewBag.Title = "Home Page";
}


<div class="row jumbotron">
    <div class="col-md-4">
        <p><a href="/Cities/Index/">Показать список городов</a></p>

        <p><a href="/ActualInMonths/Index/">Показать за месяц</a></p>
        <p><a href="/ActualNumberOfShipments/Index/">Фактические между городами</a></p>

    </div>
    
</div>