@using WebApp.Models;

@model List<UserRole>
@{
    /**/

    ViewBag.Title = "Пользователи";
}

<h2>Пользователи</h2>
<table>
    <tr>
        <th>Пользователь</th>
        <th>Роль</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.user.Email</td>


            <td>
                @foreach (var subItem in item.roles)
                {
                <div>
                    @subItem.ToString()
                </div>
               }
            </td>
            



        </tr>
    }
</table>
